@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

html, body {
    font-family: 'Roboto Condensed', sans-serif;
}

.theme-dark {
    color: $light;
}

.theme-light {
    color: $dark;
}